.boxMain {
  top: 0px;
  left: 0px;
  background: #0c111b 0% 0% no-repeat padding-box;
  opacity: 1;
  height: auto;
}

.admNav li {
  padding: 0.5rem;
  /* align-self: flex-end; */
}
.admNav li a:hover {
  text-decoration: none;
  color: rgb(59, 137, 189);
}
.admNav li a {
  text-decoration: none;
  color: rgb(116, 224, 231);
}

.dashCard div div div:hover {
  padding: 1.2rem;
}
